* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@media (max-width:992px) {
    #nonresponsive{
        display: none ;
    }
    #Responsiv{
        display: block !important ;
    }
}
#nonresponsive{
    #general-header {
        padding: 30px 0;
       width: 100%;
        .header-all {
            display: flex;
            justify-content: space-between;
    
            nav {
                display: flex;
                gap: 40px;
                align-items: center;

               li{
                 list-style: none;
                    &:hover{
                        .Homedropdown{
                            display: block;
                        }
                        .Shopdropdown{
                            display: block;
                        }
                        .Productdropdown{
                            display: block;
                        }
                        .Blogdropdown{
                            display: block;
                        }
                        .Pagedropdown{
                            display: block;
                        }
                    }
                   
                 .navbar{
                    text-decoration: none;
                    font-family: 'Marcellus', serif;
                    font-size: 18px;
                    color: #000;
                    opacity: 0.9;
                    position: relative;
                    &:hover{
                        &::before{
                            width: 100%; 
                            left: 0; 
                        }
                    }
                    &::before{
                        background: none repeat scroll 0 0 transparent;
                        bottom: 0;
                        content: "";
                        display: block;
                        height: 1px;
                        left: 50%;
                        position: absolute;
                        background: #000;
                        transition: width 0.3s ease 0s, left 0.3s ease 0s;
                        width: 0;
                    }
            
                    &::after{
                        content: '\f107';
                        margin-left: 5px;
                        font-size: 12px;
                        font-family: FontAwesome; 
                    }

                 }
                 .Shopdropdown{
                    position: absolute;
                   top: 12%;
                    left:20%;
                    z-index: 22;
                     display: none;
                    background-color: white;
                    padding:50px 70px;
                    text-align: left;
                    line-height: 40px;
                    .shopflex{
                        display: flex;
                        gap: 80px;
                        span{
                            font-size: 18px;
                            display: inline-block;
                            margin: 5px 0 ;
                            font-family: 'Marcellus', serif;
                            position: relative;
                            &::before{
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #ac8b66;
                                position: absolute;
                                top: 30px;
                                margin-bottom: 10px;
                           
                            }
                        }
                        a{
                            &:hover{
                                color: #c0a483;
                            }
                            display: block;
                            text-decoration: none;
                            color: #868686;;
                            font-size: 17px;
                            font-weight: 400;
                        }
                    }
                   
                 }
            
                 .Homedropdown{
                    z-index: 222;
                    position: absolute;
                    top:10%;
                    left:30%;
                    background-color: white;
                    padding:20px 60px 20px 30px;
                    text-align: left;
                    line-height: 35px;
                    display: none;
                    a{
                        &:hover{
                            color: #c0a483;
                        }
                        display: block;
                        text-decoration: none;
                        color: #868686;;
                        font-size: 17px;
                        font-weight: 400;
                    }
                    }
                 .Productdropdown{
                    line-height: 40px;
                    z-index: 222;
                    position: absolute;
                        top: 12%;               
                    left:20%;
                    background-color: white;
                    padding:50px 70px;
                    text-align: left;
                    display: none;
                    .productflex{
                        display: flex;
                        gap: 80px;
                        span{
                            font-size: 18px;
                            display: inline-block;
                            margin: 5px 0 ;
                            font-family: 'Marcellus', serif;
                            position: relative;
                            &::before{
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #ac8b66;
                                position: absolute;
                                top: 30px;
                                margin-bottom: 10px;
                           
                            }
                        }
                        a{
                            &:hover{
                                color: #c0a483;
                            }
                            display: block;
                            text-decoration: none;
                            color: #868686;;
                            font-size: 17px;
                            font-weight: 400;
                        }
                    }
                    }
                    .Blogdropdown{
                    overflow: hidden;
                    line-height: 40px;
                    z-index: 222;
                    position: absolute;
                    top: 12%;
                    left:20%;
                    background-color: white;
                    padding:50px 70px 70px ;
                    text-align: left;
                    display: none;
                    .blogflex{
                        display: flex;
                        gap: 80px;
                        span{
                            font-size: 18px;
                            display: inline-block;
                            margin: 5px 0 ;
                            font-family: 'Marcellus', serif;
                            position: relative;
                            &::before{
                                content: '';
                                width: 50%;
                                height: 1px;
                                background-color: #ac8b66;
                                position: absolute;
                                top: 30px;
                                margin-bottom: 10px;
                            }
                        }
                        a{
                            &:hover{
                                color: #c0a483;
                            }
                            display: block;
                            text-decoration: none;
                            color: #868686;;
                            font-size: 17px;
                            font-weight: 400;
                        }
                        .Recentpost{
                              max-width: 475px;
                            span{
                            font-size: 18px;
                            }
                            .blog{
                                font-family: Marcellus,serif;
                                 font-weight: 400;
                                font-size: 20px;
                                margin-top: 20px;
                                display: flex;
                                gap: 20px;
                                .blogimg{
                                    width: 25%;
                                    height: auto;
                                    img{
                                        width: 100%;
                                        height: auto;
                                    }
                                }
                                .blogcontent{
                                    .prv{
                                        &::before{
                                            content: '|';
                                            width: 100%;
                                            height: 1px;
                                            color: #e2e2e2;
                                            margin: 0 5px;
                                        }
                                    }
                                    a{
                                        font-family: Open Sans,sans-serif;
                                        font-size: 1rem;
                                        font-weight: 400;
                                     display: inline;
                                     color: #868686;
                                    }
                                    
                                }
                            }
                        }
                    }
                   }
                   .Pagedropdown{
                    z-index: 222;
                    position: absolute;
                    top:10%;
                    left:57%;
                    background-color: white;
                    padding:20px 100px 20px 30px;
                    text-align: left;
                    line-height: 35px;
                    display: none;
                    a{
                        &:hover{
                            color: #c0a483;
                        }
                        display: block;
                        text-decoration: none;
                        color: #868686;;
                        font-size: 17px;
                        font-weight: 400;
                    }
                   }
               }
              
            }
    
            .icon {
                display: flex;
                gap: 20px;
                align-items: center;
    
                .iconsall {
                    display: flex;
                    gap: 20px;

                    .dropdownsearchcontact {
                        position: absolute;
                        top: 100px;
                        right: 40px;
                        box-shadow: 0 5px 5px 0 rgb(50 50 50 / 20%);
                        z-index: 2222;
                        padding: 40px 20px;
                        width: 25%;
                        background-color: white;

                        input {
                            position: relative;
                            width: 100%;
                            height: 50px;
                            padding: 0 40px;
                            border: 1px solid #e1e1e1;
                            outline: none;
                        }

                        i {
                            position: absolute;
                            z-index: 22;
                            left: 30px;
                            top: 50%;
                            font-size: 20px;
                            transform: translateY(-50%);
                        }
                    }
                    a {
                        .basket {
                            position: absolute;
                            top: -7px;
                            right: -17px;
                            width: 18px;
                            height: 19px;
                            line-height: 18px;
                            color: white;
                            font-size: 11px;
                            border-radius: 50%;
                            text-align: center;
                            background-color: #ac8b66;
    
                        }
    
                        position: relative;
                        text-decoration: none;
                          color: #000;
                        font-size: 20px;
                        opacity: 0.8;
    
                        i {
                            transition: 0.5s;
    
                            &:hover {
                                cursor: pointer;
                                transform: translateY(-10%);
                                color: #ac8b66;
                            }
                        }
                    }
                }
    
                .loginreg {
                    
                    .logincontact{
                     
                        margin-top: 10px;
                        width: 25%;
                        height: auto;
                        padding: 30px;
                        text-align: left;
                        border-top: 2px solid #c0a483;
                        position: absolute;
                        z-index: 222;
                        right: 10%;
                        background-color: #fff;
                        .accountcontent{
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            h2{
                                font-size: 20px;
                                font-weight: 400;
                                display: inline-block;
                                margin: 0;
                                color: #000;
                                font-family: 'Marcellus',serif;
                            }
                            span{
                                border: 0;
                                font-size: 16px;
                                color: #c0a483;
                                cursor: pointer;
                                display: inline-block;
                                font-weight: 400;
                                font-family: 'Marcellus',serif;
                            }
                        }
                        .accountform{
                            label{
                                margin: 20px 0 5px;
                                font-size: 15px;
                                font-weight: 500;   
                               display: inline-block;
                                color: #8d8d8d;
                                letter-spacing: 0.5px;
                                &::after{
                                    content: "*";
                                    display: inline-block;
                                    color: red;
                                    margin:9px 0 0 5px;
                                    font-size: 20px;
                                }
                            }
                            input{
                                width: 100%;
                                height: 45px;
                                line-height: 45px;
                                padding: 0 20px;
                                font-size: 18px;
                                border: 1px solid #e1e1e1;
                                outline: none;
                            }
                        }
                        .accountremember{
                            margin-top: 20px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            .remember{
                                display: flex;
                                align-items: center;
                                label{
                                    color: #000;
                                    font-weight: 500;
                                    cursor: pointer;
                                    margin: 0 0 5px 10px;
                                   font-size: 17px;
                                }
                            }
                            .forgot{
                                a{
                                    position: relative;
                                    display: inline-block;
                                    line-height: 1.75;
                                    font-size: 15px;
                                    color: black;
                                    font-family: sans-serif;
                                    &::before{
                                        content: "";
                                        position: absolute;
                                        bottom: 0;
                                        width: 100%;
                                        height: 1px;
                                        background: #000;
                                    }
                                }

                            }
                        }
                        button{
                            display: inline-block;
                            margin-top: 20px;
                            border: 0;
                            font-size: 12px;
                            color: #fff;
                            text-transform: uppercase;
                            font-weight: 400;
                            letter-spacing: .1em;
                            font-family: 'Marcellus',serif;
                            width: 100%;
                            height: 45px;
                            background-color: #000;
                            &:hover{
                                background-color: #c0a483;
                            }
                        }
                    }
                    a {
                        text-decoration: none;
                        color:#000;
                        font-size: 14px;
                        opacity: 0.9;
                        letter-spacing: 1px;
                        font-family: 'Marcellus', serif;
    
                        &:hover {
                            color: #ac8b66;
                        }
                    }
                }
            }
            .logo {
                img {
                    max-height: 22px;
                    width: auto;
                    color: #000 ;
                }
            }
        }
    }
}
#Responsiv{
    background-color: #fff;
    display: none;
   .resheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .baskettres{
        a {
            position: relative;
            text-decoration: none;
            font-size: 20px;
            color: #000;
            opacity: 0.8;
            .basket {
                position: absolute;
                top: -7px;
                right: -17px;
                width: 18px;
                height: 19px;
                line-height: 18px;
                color: white;
                font-size: 11px;
                border-radius: 50%;
                text-align: center;
                background-color: #ac8b66;
    
            }
       }
   }
   .logocenter{
   
        img {
            fill: #000 !important;
            max-height: 22px;
            width: auto;
        }
    
   }
   .burgermenu{
    i{
        color: #000;
        font-size: 20px;
    }
   }
 
}
}
#Map{
    width: 100%;
    height: 100vh;
    iframe{
        width: 100%;
        height: 100%;
    }
}
#CustomerService{
    .service-all{
        .servicecontent{
            @media (max-width:992px) {
                text-align: center;
            }
            margin-top: 60px;
            .stopcontent{
                h2{
                    font-family: "Marcellus", Sans-serif;
                    font-size: 30px;
                    font-weight: 400;  
                    margin-bottom: 40px;
                   
                }
                p{
                    @media (max-width:992px) {
                        text-align: center;
                    }
                    font-family: Open Sans,sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.75;
                    color: #868686;
                    text-align: left;
                    display: inline-block;
                    margin: 0 0 40px;
                    width: 85%;
                }
            }
            .sbottomcontent{
                display: flex;
                flex-direction: column;
                gap: 30px;
                .info{
                    display: flex;
                    gap: 20px;
                    @media (max-width:992px) {
                        flex-direction: column;
                    }
                    .service-pht{
                        padding: 15px;
                        border: 1px solid #e3e3e3;
                        display: inline-block;
                        @media (max-width:992px) {
                            max-width: 15%;
                            margin: auto;
                          }
                        svg{
                        
                            width: 1em;
                            height: 1em;
                            font-size: 30px;
                            
                        }
                    }
                    .info-content{
                        span{
                            font-family: "Marcellus", Sans-serif;
                            font-size: 20px;
                            font-weight: 400;
                            letter-spacing: 1px;
                        }
                        p{
                            font-family: Open Sans,sans-serif;
                            font-size: 1rem;
                            font-weight: 400;
                            line-height: 1.75;
                            color: #868686;
                        }
                    }
                }
            }
        }
        .servicemessage{
            @media (max-width:992px) {
                margin-top: 100px;
            }
            transform: translateY(-100px);
            background-color: #2A2B2D;
            padding: 100px;
            max-width: 100%;
            .message-contect{
                margin-bottom: 30px;
                text-align: center;
                svg{
                    fill: #FFFFFF;
                    width: 1em;
                    height: 1em;
                    display: block;
                    font-size: 55px;    
                    margin: auto;
                }
                h2{
                    color: #FFFFFF;
                    font-family: "Marcellus", Sans-serif;
                    font-size: 30px;
                    font-weight: 400;
                    letter-spacing: 1px;
                }
            }
            .messageInputs{
              .infoinputs{
                display: flex;
                gap: 10px;
                input{
                    width: 100%;
                    height: 50px;
                    font-size: 13px;
                    margin-bottom: 20px;
                    padding: 10px 20px;
                    outline: none;
                    font-weight: 400;
                    border: 1px solid #3a3a3a;
                    background: transparent;
                }
              }
                textarea{
                    width: 100%;
                    color: #fff;
                    max-height: 260px;
                    padding: 10px 20px;
                    font-weight: 400;
                    margin-bottom: 23px;
                    background: transparent;
                    outline: none;
                    border: 1px solid #3a3a3a;
                }
                button{
                    width: 100%;
                    height: 70px;
                    font-size: 1rem;
                    font-weight: 400;
                    border: none;
                   background-color:  #6F6E6C;
                    text-align: center;
                    text-transform: uppercase;
                    font-family: 'Marcellus',serif;
                    letter-spacing: .1em;
                    color: #fff;
                }
            }
        }
    }
}
#SignUpContact{
    padding: 50px 0;
    background-color: #2A2B2D;
    .signUp-all{
        .signcontent{
            display: flex;
            gap: 30px;
            align-items: center;
            @media (max-width:1400px) {
                margin-bottom: 30px;
                }
            .sgnicon{
                i{
                    color: #fff;
                     display: inline-block;
                    text-align: center;
                    font-size: 52px;
                }
            }
            .sgncontent{
                h2{
                    margin: 0;
                    font-weight: 500;
                    font-size: 30px;
                    font-family: "Marcellus", Sans-serif;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    @media (max-width:1400px) {
                    font-size: 25px;
                    }
                }
                p{
                    font-size: 16px;
                    font-family: "Marcellus", Sans-serif;
                    color: #fff;
                    @media (max-width:1400px) {
                        font-size: 13px;
                        }
                }
            }
        }
        .signinputscontact{
            .messagetoclientcontact {
                width: 100%;
                border: 2px solid #ffb900;
                margin: 3em 0.5em 1em;
                padding: 0.2em 1em;
                color: #fff;
    
            }
    
            .errorcontact {
                display: block;
                position: absolute;
                left:51%;
                font-size: 14PX;
                color: #DC3232;
            }
            width: 100%;
            height: 90px;
            background-color: #fff;
            input{
            width:75% ;
            padding: 15px;
            border: none;
            outline: none;
            padding-left: 30px;
            &::placeholder{
                    font-size: 18px;
            }
            }
            button{
                text-align: center;
                width: 20%;
                padding: 15px 25px;
                background-color: #ac8b66;
                border: none;
                color: white;
                font-family: "Marcellus", Sans-serif;

            }
        }
    }
 
   
}
Footer {
    #Mainfooter {
        background-color: #F6F6F6;
        padding: 60px 0;
        overflow: hidden;

        .footerall {
       

            .sectionfooter {
               display: flex;
              flex-direction: column;
              @media (max-width:992px) {
                margin-bottom:30px ;
              }

                .footericons {
                    display: flex;
                    gap: 10px;

                    i {
                        border: 1px solid #e1e1e1;
                        border-radius: 50%;
                        padding: 15px;
                    }
                }

                h2 {
                    font-family: "Marcellus", Sans-serif;
                    font-size: 18px;
                    text-transform: uppercase;
                    letter-spacing: 1.5px;
                    margin-bottom: 25px;
                }

                a {
                    text-decoration: none;
                    font-family: sans-serif;
                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 40px;
                    color: #868686;
                }

                p {
                    font-family: sans-serif;
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: #868686;
                    width: 80%;

                    span {
                        font-weight: 600;
                        color: #000;

                    }
                }
            }

        }

    }

    hr {
        opacity: 0.2;
    }

    #Secondfooter {
        padding: 10px 0;
        background-color: #F6F6F6;

        .secondfooter {

            .Copyright {
                span {
                    font-family: sans-serif;
                    font-size: 15px;
                    letter-spacing: 1px;
                    color: #868686;
                }
            }
            .clearpay{
                display: flex;
                justify-content: flex-end;
            }
        }
    }
}